.sh-ip-address-container {
    position: relative;
    margin: 5px 0;
    padding: 2px 0;
    overflow: hidden;
}

.sh-ip-address-copy-overlay .sh-ip-address-table {
    height: 100%;
}

.sh-ip-address-copy-overlay .sh-ip-address-table > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.sh-ip-address-copy-title {
    text-align: center;
    vertical-align: middle;
    font-size: 0.75em;
}

.sh-ip-address-copy-overlay .sh-ip-address-table > a {
    border: 1px solid #9e9e9e;
    cursor: pointer;
}



.sh-ip-address-table {
    display: inline-table;
    flex-flow: column;
    vertical-align: bottom;
    width: 100%;
}

.sh-ip-address-table-cell {
    position: relative;
    display: table-cell;
    text-align: center;
}

.sh-ip-address-table input {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}


/* MATERIAL THEME */
.sh-ip-address-theme-material.sh-ip-address-container {
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    transition: all 0.3s;
    font-size: 1rem;
}

.sh-ip-address-theme-material .sh-ip-address-table-cell {
    border-bottom: 1px solid #9e9e9e;
    transition: all 0.3s;
}

.sh-ip-address-theme-material.sh-ip-address-focused .sh-ip-address-table-cell:not(.sh-ip-address-disabled) {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}


.sh-ip-address-theme-material .sh-ip-address-table-cell.sh-ip-address-error:not(.sh-ip-address-disabled) {
    box-shadow: 0 1px 0 0 #F44336;
}

.sh-ip-address-theme-material .sh-ip-address-table-cell.sh-ip-address-disabled {
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

.sh-ip-address-theme-material input {
    background: transparent;
    border: none;
    outline: none;

    height: 3rem;
    font-size: 1rem;
    padding: 0;
    box-shadow: none;
}

.sh-ip-address-theme-material input[disabled] {
    color: rgba(0,0,0,0.26);
}
