<div>
    <label for="disabledBlocks">Disabled blocks</label>
    <md-button-toggle-group multiple id="disabledBlocks">
        <md-button-toggle (change)="onDisableBlockChange($event)" value="0">Block 1</md-button-toggle>
        <md-button-toggle (change)="onDisableBlockChange($event)" value="1">Block 2</md-button-toggle>
        <md-button-toggle (change)="onDisableBlockChange($event)" value="2">Block 3</md-button-toggle>
        <md-button-toggle (change)="onDisableBlockChange($event)" value="3">Block 4</md-button-toggle>
    </md-button-toggle-group>
</div>

<div class="container">
    <h3>Example With Error</h3>
    <div class="ipcontainer">

        <sh-ip-address [(ngModel)]="ip" [disabledBlocks]="[0,0,0,0]"></sh-ip-address>
        <sh-ip-address [(ngModel)]="ip" [disabledBlocks]="[0,0,0,0]"></sh-ip-address>
        <sh-ip-address [(ngModel)]="ip" [disabledBlocks]="[0,0,0,0]"></sh-ip-address>
    </div>
    
    <h3>Example</h3>
    <div class="ipcontainer">

        <sh-ip-address [(ngModel)]="ip" [disabledBlocks]="disabledBlocks"></sh-ip-address>
        <pre>{{ip}}</pre>
        <sh-ip-address [(ngModel)]="ip1" [disabledBlocks]="disabledBlocks"></sh-ip-address>
        <pre>{{ip1}}</pre>
        <sh-ip-address [(ngModel)]="ip2" [disabledBlocks]="disabledBlocks"></sh-ip-address>
        <pre>{{ip2}}</pre>
    </div>
</div>